<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Youtube Playlist Generator</title>
</head>

<body>
    <div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">
        <h1 >Youtube Playlist Generator</h1>
        <h3 >.dev Workshop, Fall 2018</h3>
        </br>
        <form action="http://localhost:8090/" method="POST">
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Playlist Name" name="playlist_name" type="text">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Song/Artist" name="keyword_0" type="text">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Song/Artist" name="keyword_1" type="text">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Song/Artist" name="keyword_2" type="text">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Song/Artist" name="keyword_3" type="text">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Song/Artist" name="keyword_4" type="text">
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-lg btn-block">Generate Playlist</button>
            </div>
        </form>
        <div>
            <div class="row h-100 mt-5">
                {% if youtube_links %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Generated Playlist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in youtube_links %}
                        <tr>
                            <td>
                                <div class="span4">{{ link }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>